@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Jaceey
                <span class="text-primary">Tuck</span>
            </h1>
            <div class="subheading mb-5">
                N6C · London, ON · (519) 619-6911 ·
                <a href="mailto:jaceey@hotmail.com">jaceey@hotmail.com</a>
            </div>
            <p class="lead mb-5">I am a recent graduate of the Computer Programmer Analyst program at Fanshawe College. Throughout my years as both a student and employee, I have made it my personal mission to work as efficiently as possible. I am the type of person who can easily spot problems and apply strategies and solutions to help boost my productivity.</p>
            <div class="social-icons">
                <a class="social-icon" target="_blank" href="https://www.linkedin.com/in/jaceeytuck/"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" target="_blank" href="https://github.com/Jaceey"><i class="fab fa-github"></i></a>
                @*<a class="social-icon" target="_blank" href="#"><i class="fab fa-twitter"></i></a>*@
                <a class="social-icon" target="_blank" href="https://www.facebook.com/JaceeyT/"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Software Developer</h3>
                    <div class="subheading mb-3">StarTech.com</div>
                    <p>Developed, tested and analyzed a multilingual website from layout to function using MVVM, Angular, JavaScript, .NET Core, C#, Jira, jQuery, DevOps, Postman, Screaming Frog, CMS - Kentico</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">January 2020 - May 2020</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Computer Programmer</h3>
                    <div class="subheading mb-3">Canada Revenue Agency</div>
                    <ul>
                        <li>Developed, maintained and deployed solutions via Microsoft Office and Visual Basics for Applications</li>
                        <li>Developed, maintained and analyzed Neo4j Databases using Cypher</li>
                        <li>Provided training and support to internal clients</li>
                        <li>Created reusable documentation</li>
                        <li>Provided technical assistance and support for issues related to computer systems, software and hardware</li>
                    </ul>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">August 2018 - December 2019</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Fanshawe College</h3>
                    <div class="subheading mb-3">Computer Programmer Analyst</div>
                    <div>OCAD | Co-op Endorsed | Dean's Honour Roll 2019</div>
                    <p>3.72 GPA</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">September 2016 - April 2020</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages & Tools</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i data-toggle="tooltip" title="HTML" class="devicon-html5-plain"></i></li>
                <li class="list-inline-item"><i data-toggle="tooltip" title="CSS" class="devicon-css3-plain"></i></li>
                <li class="list-inline-item"><i data-toggle="tooltip" title="GitHub" class="devicon-github-plain"></i></li>
                <li class="list-inline-item"><i data-toggle="tooltip" title="JavaScript" class="devicon-javascript-plain"></i></li>
                <li class="list-inline-item"><i data-toggle="tooltip" title="AngularJS" class="devicon-angularjs-plain"></i></li>
                <li class="list-inline-item"><i data-toggle="tooltip" title="ReactJS" class="devicon-react-plain"></i></li>
                <li class="list-inline-item"><i data-toggle="tooltip" title="NodeJS" class="devicon-nodejs-plain"></i></li>
                <li class="list-inline-item"><i data-toggle="tooltip" title="SASS" class="fab fa-sass"></i></li>
                <li class="list-inline-item"><i data-toggle="tooltip" title="npm" class="devicon-npm-original-wordmark"></i></li>
                <li class="list-inline-item"><i data-toggle="tooltip" title="JIRA" class="fab fa-jira"></i></li>
                <li class="list-inline-item"><i data-toggle="tooltip" title="Bootstrap" class="fab fa-bootstrap"></i></li>
                <li class="list-inline-item"><i data-toggle="tooltip" title="Java" class="fab fa-java"></i></li>
                <li class="list-inline-item"><i data-toggle="tooltip" title="C#" class="devicon-csharp-line"></i></li>
                <li class="list-inline-item"><i data-toggle="tooltip" title=".NET" class="devicon-dot-net-plain"></i></li>
                <li class="list-inline-item"><i data-toggle="tooltip" title="C++" class="devicon-cplusplus-line"></i></li>
                <li class="list-inline-item"><i data-toggle="tooltip" title="jQuery" class="devicon-jquery-plain"></i></li>
                <li class="list-inline-item"><i data-toggle="tooltip" title="mySQL" class="devicon-mysql-plain"></i></li>
                <li class="list-inline-item"><i data-toggle="tooltip" title="PHP" class="devicon-php-plain"></i></li>
                <li class="list-inline-item"><i data-toggle="tooltip" title="Codepen" class="devicon-codepen-plain"></i></li>
                <li class="list-inline-item"><i data-toggle="tooltip" title="Visual Studio" class="devicon-visualstudio-plain"></i></li>
            </ul>
            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Mobile-First, Responsive Design
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Cross Browser Testing & Debugging
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Cross Functional Teams
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Agile Development & Scrum
                </li>
            </ul>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="awards">
        <div class="resume-section-content">
            <h2 class="mb-5">Awards & Certifications</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Neo4j Certified Professional
                </li>

            </ul>
        </div>
    </section>
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Interests</h2>
            @*<p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>*@
            @*<p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>*@
        </div>
    </section>
    <hr class="m-0" />
</div>
